<section>
    <input
        class="new-todo"
        aria-label='Next task?'
        placeholder="Next task?"
        autofocus
        {{on 'keydown' this.onKeyDown}}
    >
</section>

<!---<button id="buttons" type="button" {{on "click" this.add}}>Add</button>--->